<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="koreanGreeter" class="com.nhnacademy.edu.springframework.KoreanGreeter" >
    </bean>

    <bean id="greetingService" class="com.nhnacademy.edu.springframework.greeting.GreetingService" >
        <property name="greeter" ref="koreanGreeter" />
    </bean>



    <bean id="smsMessageSender" class="com.nhnacademy.edu.springframework.message.SmsMessageSender">
    </bean>

    <bean id="emailMessageSender" class="com.nhnacademy.edu.springframework.message.EmailMessageSender">
    </bean>

    <bean id="messageSendService" class="com.nhnacademy.edu.springframework.message.MessageSendService">
        <constructor-arg ref="emailMessageSender"/>
    </bean>



    <bean id="user" class="com.nhnacademy.edu.springframework.message.User">
    </bean>



</beans>