<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- annotation설정을 위해 추가-->
    <context:annotation-config />

    <!-- @Required 애너테이션 사용을 위해 추가 -->
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />


    <bean id="koreanGreeter" class="com.nhnacademy.edu.springframework.KoreanGreeter" >
        <qualifier type="com.nhnacademy.edu.springframework.SMS" />
    </bean>

    <bean id="englishGreeter" class="com.nhnacademy.edu.springframework.EnglishGreeter" >
    </bean>


    <bean id="greetingService" class="com.nhnacademy.edu.springframework.greeting.GreetingService" >
    </bean>



</beans>